<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Analytics - linkEase</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="container">
          <h1 class="logo">linkEase : URL Shortener</h1>
          <div class="auth">
            <h3 id="logoutBtn">Analytics</h3>
          </div>
        </div>
    </header>
    <main>
        <table>
          <thead>
            <tr>
              <th>Original Link</th>
              <th>Shortened Link</th>
              <th>Visits</th>
              <th>Time Remaining (To Expire)</th>
            </tr>
          </thead>
          <tbody id="links-table">
            
            <% allLinks.forEach(function(link){ %>
                <tr>
                    <td><a target="_blank" href=<%= link.original %>><%= link.original %></a></td>
                    <td> <a target="_blank" href=/<%= link.shorten %>>https://linkease-kof4.onrender.com/<%= link.shorten %></a></td>
                    <td><%= link.visits %></td>
                    <% var millisec = (60*60*48*1000) + link.createdAt.getTime() - Date.now(); %>
                    <% var sec = Math.floor(millisec / 1000); %>
                    <% var min = Math.floor(sec / 60); %>
                    <% var hours = Math.floor(min/ 60); %>
                    <% var sec = sec % 60; %>
                    <% var min = min % 60; %>
                    <% var day = Math.floor(hours/24); %>
                    <% var hours = hours % 24; %>
                    <td> <%= day%>d <%= hours%>hr <%= min%>m <%= sec%>s</td>
                </tr>
            <% }) %>

          </tbody>
        </table>
      </main>

  <%- include("partials/footer") -%>

  <script></script>
</body>
<style>
table {
  width: 90%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
</style>
</html>
